<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template1</title>
   <style> 
   *{
   box-sizing: border-box;}
   
 .column {
  float: left;
  width: 50%;
}


   </style>
</head>
<body>
    <p style="padding-left:  40px; ">
       Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus impedit, mollitia fugit aut facilis officiis maiores! Sequi molestias consequuntur nulla temporibus minima quia eligendi sint vero nesciunt laboriosam ut deleniti alias sed iste quo tempora consectetur fugiat culpa quas expedita accusantium, maxime deserunt? Alias omnis assumenda expedita iure excepturi amet odio facere at autem, incidunt atque ullam explicabo similique culpa sunt mollitia, inventore libero suscipit odit accusamus vero dolore quod laudantium. Beatae hic in quae! 
<br>
<br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In nam eaque, error impedit quo neque natus consectetur dolor laborum a, soluta reiciendis possimus. Animi ipsa voluptatibus nulla iste eos quia suscipit maxime mollitia pariatur voluptates earum harum porro vitae deserunt atque, nam expedita eligendi odio? Incidunt saepe molestiae numquam quo pariatur ullam perspiciatis molestias vel adipisci repudiandae fuga soluta minus, assumenda nihil iste natus doloremque sed delectus aut sit aperiam velit! Expedita consequuntur veniam provident.
    </p><br>
    

    
</body>
</html>